<div class="home-container">
    <h1>See what is being shared</h1>
    <div class="search-container">
        <form>
            <fa-icon [icon]="faSearch"></fa-icon>
            <input type="text"
            placeholder="Search a moment.."
            (input)="search($event)">
        </form>
    </div>
    <div *ngIf="moments.length > 0; else noMoments">
        <div class="moments-container">
            <div class="moment" *ngFor="let moment of moments">
                <img src="{{ baseApiUrl }}uploads/{{ moment.image }}" alt="{{ moment.title }}">
                <h3>{{ moment.title }}</h3>
                <p class="date">At: {{ moment.created_at }}</p>
                <p>Comments: {{ moment.comments!.length }}</p>
                <p><a routerLink="moments/{{ moment.id }}">Details</a></p>
            </div>
        </div>
    </div>
    <ng-template #noMoments>
        <div>There is no moment to share</div>
    </ng-template>
</div>